*{
	margin: 0;
	padding: 0;
}@font-face{
	font-family: 'Bebas Neue';
	src: url(../fonts/BebasNeue-Regular.ttf);
	font-style: normal;
}
@font-face{
	font-family: 'Space Ranger Title';
	src: url(../fonts/spacerangertitle.ttf);
	font-style: normal;
}
@font-face{
	font-family: 'Quicksand-Light';
	src:url(../fonts/Quicksand-Light.otf);
	font-style: normal;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------
BODY
*/
html body{
background-color: #092c3e;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------
HEADER
*/
.header{
background-color: transparent;
}
.navbar{
	box-shadow: 0 5px 10px #000;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
LOGO
*/
.logo{
	float: left;
	color: #fff;
}
.logoimg{
	width: 104px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
NAVIGATION
*/
nav i.fas{
	color: #fff;
}
nav div.navbar-nav a.acolor{
	color: #fff;
	text-decoration: none;
}
nav div.navbar-nav a i.fas{
	padding: 0 4px;
}

/*`````````````````````````````````````````````````````````````
LISt
*/
nav div.navbar-list{
	float: center;
	margin: 12px;
}
nav div.navbar-list a{
	color: #fff;
	text-decoration: none;
	padding: 12px 12px;
	border: 1px solid #0000;
	transition: 0.6s ease;
}
nav div.navbar-list a i.fas{
	padding: 0 4px;
}
nav div.navbar-list a:hover{
	background-color: #fff;
	color: #000;
}
nav div.navbar-list a:hover > i{
	background-color: #fff;
	color: #000;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*THEME */

input#cbox
{
	margin:44px 66px;
	-webkit-appearance:none;
	visibility: hidden;
	display: none;
}
.dark{
	transition: 0.6s ease;
	background-color: #313131;
	color: #fff;
}
.check{
	position: relative;
	display: block;
	width: 40px;
	height: 20px;
	background: #313131;
	cursor: pointer;
	border-radius: 20px;
	overflow: hidden;
	transition: ease-in 0.5s;

}
input:checked ~ .check{
	background: #fff;
}

.check:before{

	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	background: #fff;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	transition: 0.5s ;

}
input:checked ~ .check:before{

	transform: translate(-50px);
}

.check:after{

	content: '';
	position: absolute;
	top: 2px;
	right: 2px;
	background: #313131;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	transition: 0.5s ;
	transform: translate(50px);

}
input:checked ~ .check:after{

	transform: translate(0px);
}

/*---------------------------------------------------------------------------------------------------------------------------------------------
MAIN
*/
main{
	height: auto;
}
div.carousel-item img{
	background: rgba(0,0,0,0.5);
	opacity: 70%;
}
.b{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: block;
	margin-right: auto;
	margin-left: auto;

}
.btnweb{
	    background-color: #0009;
		border: 1px solid white;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	transition: 0.6s ease;
}
.btnweb:hover{
	background-color: white;
	color: black;
   text-decoration: none;
}
@media (max-width: 414px){
    .btnweb{
    	font-size: 10px;
        }
    }
/*---------------------------------------------------------------------------------------------------------------------------------*/

/* FOOTER */

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.foot{
	background: none;
    box-shadow: 0 5px 10px  #000;

}
footer{
	position: relative;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	color: white;
	font-family: Quicksand-Light;

}
footer ul{
	display: flex;
	align-items: center;
	justify-content: center;

}
footer ul li{

	position: relative;
	display: block;
	color: #666;
	font-size: 15px;
	height: 40px;
	width: 40px;
	background: #171515;
	line-height: 40px;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
	transition: 0.5s;
}
footer ul li:before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	/* background: #d35400; */
	height: 100%;
	width: 100%;
	border-radius: 50%;
	z-index: -1;
	transform: scale(0.9);
     transition: 0.5s;
}
footer a#thisisme{
text-decoration: none;
color: #1DA1F2;
}
footer ul li:nth-child(1):before{
	background: #426782;

}
footer ul li:nth-child(2):before{
	background: #1DA1F2;

}
footer ul li:nth-child(3):before{
	background: #E1306C;

}
footer ul li:nth-child(4):before{
	background: #2867B2;

}




footer ul li:hover:before{
	filter: blur(1px);
	transform: scale(1);
	/* box-shadow: 0 0 15px #d35400; */
}
footer ul li:nth-child(1):hover:before{
	box-shadow: 0 0 15px #426782;
}
footer ul li:nth-child(2):hover:before{
	box-shadow: 0 0 15px #1DA1F2;
}
footer ul li:nth-child(3):hover:before{
	box-shadow: 0 0 15px #E1306C;
}
footer ul li:nth-child(4):hover:before{
	box-shadow: 0 0 15px #2867B2;
}


footer ul li:nth-child(1):hover{
	color: #456cba;
	box-shadow: 0 0 15px #426782;
	text-shadow: 0 0 15px #426782;
}
footer ul li:nth-child(2):hover{
	color: #26a4f2;
	box-shadow: 0 0 15px #1DA1F2;
	text-shadow: 0 0 15px #1DA1F2;
}
footer ul li:nth-child(3):hover{
	color: #e23670;
	box-shadow: 0 0 15px #E1306C;
	text-shadow: 0 0 15px #E1306C;
}
footer ul li:nth-child(4):hover{
	color: #2a6cbb;
	box-shadow: 0 0 15px #2867B2;
	text-shadow: 0 0 15px #2867B2;
}
footer ul li a{
	text-decoration: none;
	background: transparent;
	color: #666;


}


footer ul li a#f:hover{
text-decoration: none;
background: transparent;
    color: #426782;
	text-shadow: 0 0 10px #426782;
}
footer ul li a#tw:hover{
text-decoration: none;
background: transparent;
    color: #1DA1F2;
	text-shadow: 0 0 10px #1DA1F2;
}
footer ul li a#ig:hover{
text-decoration: none;
background: transparent;
    color: #E1306C;
	text-shadow: 0 0 10px #E1306C;
}
footer ul li a#li:hover{
text-decoration: none;
background: transparent;
    color: #2867B2;
	text-shadow: 0 0 10px #2867B2;
}
/* `````````````````````````````````````````````````````````````````````````````````````` */


/*DEVELOPER */
.creator{
		position: relative;
	display: inline-flex;
	left: -40%;
	color: white;
	font-size: 15px;
	height: 40px;
	width: 40px;
	background: #171515;
	line-height: 40px;
	border-radius: 50%;
	margin: 10px 10px;
	margin-bottom: 30px;
	transition: 0.5s;
	text-decoration: none;
	  color: #006994;
	box-shadow: 0 0 10px #006994;
	text-shadow: 0 0 10px #006994;

}
.image{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	position: absolute;
	transform: translate(0%,0%);


}
.image:hover > .i{
	visibility: visible
		position: relative;
}
.i{
position: absolute;
overflow: hidden;
visibility: hidden;
z-index: 1;
}
/*
.anime{
	animation: typewriter 2s steps(10) 1s 1 normal both,blinkTextCursor 500ms steps(40) infinite normal;
}
@keyframes typewriter{
	from{
		width: 0;
	}
	to{
		width: 200px;
	}
}
@keyframes blinkTextCursor {
  from{
  	border-right-color: white;
  }
  to{
  	border-right-color: transparent;
  }
}
*/
.creator-me{

text-decoration: none;
	text-shadow: none;
	/*border: 2px solid white;*/
	position: absolute;
    color: white;
	background-color: none;
	font-size: 20px;
	width: 200px;
	height: 40px;
    padding: 0px;
    margin-left: 20px;
	letter-spacing: 2px;
	font-family: Quicksand_Dash;

}
.dev{

text-decoration: none;
	text-shadow: none;
	/*border: 2px solid white;*/
	position: absolute;
    color: white;
	background-color: none;
	font-size: 10px;
	width: 200px;
	height: 40px;
    padding: 0px;
    margin-top: -20px;
    margin-left: 20px;
	letter-spacing: 2px;
	font-family: Quicksand_Dash;


}
div#social a{
text-decoration: none;
background: transparent;
color: #666;
}
div#social a:hover{

text-decoration: none;
background: transparent;
    color: #006994;
	text-shadow: 0 0 10px #006994;
}
